## Alma Maters of the Directors of the Most Successful Movie Series

In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ast

In [99]:
movies = pd.read_csv("/Users/jordan_uyeki/Documents/ucla/year4/spring2019/Stats131/Project/the-movies-dataset/movies_metadata.csv")
movies.head()

/Users/jordan_uyeki/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [100]:
movies_in_series = movies[movies['original_title'].str.contains("Harry Potter|Hunger Games|Avengers|Shrek|Lord of the Rings|Hobbit|Spider-Man|Star Wars|Iron Man|Guardians of the Galaxy")];
movies_in_series.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
256,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",11000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,11,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,...,1977-05-25,775398007.0,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.1,6778.0
2007,False,"{'id': 141290, 'name': 'The Lord of the Rings ...",4000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,123,tt0077869,en,The Lord of the Rings,The Fellowship of the Ring embark on a journey...,...,1978-11-15,30471420.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fantasy...beyond your imagination,The Lord of the Rings,False,6.1,187.0
2044,False,NaN,60000000,"[{'id': 53, 'name': 'Thriller'}]",NaN,9320,tt0118661,en,The Avengers,"British Ministry agent John Steed, under direc...",...,1998-08-13,48585416.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Saving the World in Style.,The Avengers,False,4.4,205.0
2514,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",115000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,1893,tt0120915,en,Star Wars: Episode I - The Phantom Menace,"Anakin Skywalker, a young slave strong with th...",...,1999-05-19,924317558.0,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every generation has a legend. Every journey h...,Star Wars: Episode I - The Phantom Menace,False,6.4,4526.0
4178,False,"{'id': 2150, 'name': 'Shrek Collection', 'post...",60000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.shrek.com/,808,tt0126029,en,Shrek,It ain't easy bein' green -- especially if you...,...,2001-05-16,484409218.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The greatest fairy tale never told.,Shrek,False,7.3,4183.0

# Credits Data

In [126]:
credits = pd.read_csv("/Users/jordan_uyeki/Documents/ucla/year4/spring2019/Stats131/Project/the-movies-dataset/credits.csv")
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [127]:
#getting movie ids of the ones that are in the top series
movies_id = movies_in_series.id.tolist()
movies_id = [str(i) for i in movies_id]

In [128]:
#subsetting series based on top movie series ids
series_credits = credits[credits['id'].isin(movies_id)]
series_credits.shape

(59, 3)

In [129]:
series_credits.head()

,cast,crew,id
256,"[{'cast_id': 3, 'character': 'Luke Skywalker',...","[{'credit_id': '52fe420dc3a36847f8000437', 'de...",11
2007,"[{'cast_id': 1, 'character': 'Frodo (voice)', ...","[{'credit_id': '52fe421bc3a36847f8004833', 'de...",123
2044,"[{'cast_id': 1, 'character': 'John Steed', 'cr...","[{'credit_id': '52fe44e7c3a36847f80b0e7f', 'de...",9320
2514,"[{'cast_id': 8, 'character': 'Qui-Gon Jinn', '...","[{'credit_id': '52fe431ec3a36847f803bc9d', 'de...",1893
4178,"[{'cast_id': 24, 'character': 'Shrek (voice)',...","[{'credit_id': '52fe4279c3a36847f802182b', 'de...",808

In [130]:
#subsetting crew to just directors
series_credits['director_info'] = np.nan
keyValList = ['Director']
for i in range(0, len(series_credits)):
    temp = series_credits.crew.iloc[i]
    temp = ast.literal_eval(temp) 
    directors = [d for d in temp if d['job'] ==  'Director']
    series_credits.director_info.iloc[i] = directors

/Users/jordan_uyeki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jordan_uyeki/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/Users/jordan_uyeki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [131]:
series_credits.head()

,cast,crew,id,director_info
256,"[{'cast_id': 3, 'character': 'Luke Skywalker',...","[{'credit_id': '52fe420dc3a36847f8000437', 'de...",11,"[{'credit_id': '52fe420dc3a36847f8000437', 'de..."
2007,"[{'cast_id': 1, 'character': 'Frodo (voice)', ...","[{'credit_id': '52fe421bc3a36847f8004833', 'de...",123,"[{'credit_id': '52fe421bc3a36847f8004815', 'de..."
2044,"[{'cast_id': 1, 'character': 'John Steed', 'cr...","[{'credit_id': '52fe44e7c3a36847f80b0e7f', 'de...",9320,"[{'credit_id': '52fe44e7c3a36847f80b0e7f', 'de..."
2514,"[{'cast_id': 8, 'character': 'Qui-Gon Jinn', '...","[{'credit_id': '52fe431ec3a36847f803bc9d', 'de...",1893,"[{'credit_id': '52fe431ec3a36847f803bca9', 'de..."
4178,"[{'cast_id': 24, 'character': 'Shrek (voice)',...","[{'credit_id': '52fe4279c3a36847f802182b', 'de...",808,"[{'credit_id': '52fe4279c3a36847f8021819', 'de..."

In [132]:
series_credits['num_directors'] = 0
for i in range(0, len(series_credits)):
    series_credits.num_directors.iloc[i] = len(series_credits.director_info.iloc[i])
series_credits.head()

/Users/jordan_uyeki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/jordan_uyeki/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/Users/jordan_uyeki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,cast,crew,id,director_info,num_directors
256,"[{'cast_id': 3, 'character': 'Luke Skywalker',...","[{'credit_id': '52fe420dc3a36847f8000437', 'de...",11,"[{'credit_id': '52fe420dc3a36847f8000437', 'de...",1
2007,"[{'cast_id': 1, 'character': 'Frodo (voice)', ...","[{'credit_id': '52fe421bc3a36847f8004833', 'de...",123,"[{'credit_id': '52fe421bc3a36847f8004815', 'de...",1
2044,"[{'cast_id': 1, 'character': 'John Steed', 'cr...","[{'credit_id': '52fe44e7c3a36847f80b0e7f', 'de...",9320,"[{'credit_id': '52fe44e7c3a36847f80b0e7f', 'de...",1
2514,"[{'cast_id': 8, 'character': 'Qui-Gon Jinn', '...","[{'credit_id': '52fe431ec3a36847f803bc9d', 'de...",1893,"[{'credit_id': '52fe431ec3a36847f803bca9', 'de...",1
4178,"[{'cast_id': 24, 'character': 'Shrek (voice)',...","[{'credit_id': '52fe4279c3a36847f802182b', 'de...",808,"[{'credit_id': '52fe4279c3a36847f8021819', 'de...",2

In [133]:
#making array of directors for each movie 
series_credits['directors'] = 0
for i in range(0, len(series_credits)):
    temp = series_credits.director_info.iloc[i]
    names = [d['name'] for d in temp]
    series_credits.directors.iloc[i] = names
series_credits.head()

/Users/jordan_uyeki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jordan_uyeki/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/Users/jordan_uyeki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,cast,crew,id,director_info,num_directors,directors
256,"[{'cast_id': 3, 'character': 'Luke Skywalker',...","[{'credit_id': '52fe420dc3a36847f8000437', 'de...",11,"[{'credit_id': '52fe420dc3a36847f8000437', 'de...",1,[George Lucas]
2007,"[{'cast_id': 1, 'character': 'Frodo (voice)', ...","[{'credit_id': '52fe421bc3a36847f8004833', 'de...",123,"[{'credit_id': '52fe421bc3a36847f8004815', 'de...",1,[Ralph Bakshi]
2044,"[{'cast_id': 1, 'character': 'John Steed', 'cr...","[{'credit_id': '52fe44e7c3a36847f80b0e7f', 'de...",9320,"[{'credit_id': '52fe44e7c3a36847f80b0e7f', 'de...",1,[Jeremiah S. Chechik]
2514,"[{'cast_id': 8, 'character': 'Qui-Gon Jinn', '...","[{'credit_id': '52fe431ec3a36847f803bc9d', 'de...",1893,"[{'credit_id': '52fe431ec3a36847f803bca9', 'de...",1,[George Lucas]
4178,"[{'cast_id': 24, 'character': 'Shrek (voice)',...","[{'credit_id': '52fe4279c3a36847f802182b', 'de...",808,"[{'credit_id': '52fe4279c3a36847f8021819', 'de...",2,"[Andrew Adamson, Vicky Jenson]"